<h2>Choose category</h2>
<div>
  <button *ngFor="let category of categories" (click)="selectCategory(category)">
    {{ category.name }}
  </button>
</div>
<h2 *ngIf="filteredProducts.length === 0">Choose category to see products</h2>
<div class="product-container">
  <div class="product-card" *ngFor="let product of filteredProducts">
    <img [src]="product.image" [alt]="product.name">
    <h3>{{ product.name }}</h3>
        <div class="gallery">
            <img *ngFor="let img of product.gallery" [src]="img" [alt]="product.name">
        </div>
        <p>{{ product.description }}</p>
        <p>⭐ Rating: {{ product.rating }}</p>
        <p>Likes: {{ product.like }}</p>
        <a [href]="product.link" target="_blank">View on Kaspi</a>
        <button (click)="share(product)">📢 Share</button>
        <button (click)="toggleLike(product)">
          {{ product.liked ? 'Cancel like' : 'Like' }}
        </button>
        <p>Likes: ❤️ {{ product.like }}</p>
  </div>
</div>
