* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Console', monospace;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #be3f3f, #182c87);
    padding: 10px;
}

.main-app {
    width: 100%;
    max-width: 540px;
    background: #ffffff;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 70px;
    border-radius: 10px;
}

.main-app h2 {
    color: #2a4498;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.main-app img {
    width: 30px;
    margin-left: 5px;
}

.input-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #efeee0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}


input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button {
    border: none;
    outline: none;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 50px;
    padding-right: 50px;
    background: #ffbb32;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(img/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 7.6px;
    left: 12px;
}

ul li.checked {
    color: #a4a4a4;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(img/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}